@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

div, body, main, head {
  border-radius: 5px;
}

h2 {
  font-family: "BBH Bartle", sans-serif;
  font-style: normal;
}

input, button {
  border-color:white;
  border-width: 1px;
  background-color: #171717;
  border-radius: 5px;
}